<!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
        <ul class="actions">
            <li><a href="{{ url_for('about') }}" class="button">Learn More</a></li>
        </ul>
    </section>

<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
        <li><a href="dustyofficial1@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; DUST Design: <a href="{{ url_for('profile', title='ME') }}">PURUSH</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
</section>

</section>

</div>

        <!-- Scripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/browser.min.js"></script>
        <script src="static/js/breakpoints.min.js"></script>
        <script src="static/js/util.js"></script>
        <script src="static/js/main.js"></script>

</body>
</html>